{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        Welcome!

        <div class="form-group">
            {{ form_widget(urlForm) }}
        </div>
    </div>


{% endblock %}