{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        Welcome!

        {{ form_start(urlForm) }}
            <div class="form-group">
                {{ form_widget(urlForm) }}
            </div>
        {{ form_start(urlForm) }}
    </div>


{% endblock %}